* {
    font-family: Arial;
    }
    .judul {
        display:flex;
        justify-content:space-between;
        font-size: 15px;
    }
.celcius-container {
    text-align: center;
}
.body-container {
    background-color: black;
    color: white;
        text-align: center;
}
header {
    text-align: center;
}
#jam {
    border-width: 37px;
    border-color: white;
    border-radius: 15px;
    background-color: #5e5e5e;
    width: 85px;
    height: 100%;
}
.result-container {
    display: flex;
    justify-content: space-evenly;
}
textarea {
    background-color: #5e5e5e;
    resize: none;
    border-radius: 7px;
    font-size: 15px;
    color: white;
    outline-width: 2px;
    max-width: 200px;
    outline-color: rgb(226, 147, 0);
    border: none;
}
button {
    background-color: rgb(226, 147, 0);
    border: none;
    border-radius: 4px;
    color: white;
    width: 140px;
    height: 30px;
    font-size: larger;
    margin: 10px 20px;
    
}
button:hover {
    background-color: rgb(167, 108, 0);
    transition: .3s ease-in-out;
    transition-delay: 0,3s;
}
.subject-info {
    font-size: 22px;
    font-style: italic;
    font-family: math;
}
.kotak {
    border: 1px solid white;
    border-radius: 10px;
    text-align: justify;
}